h1{
    text-align: center;
    font-size: 24pt;
}
form{
    margin-top: 50px;
}
lightning-input{
    display: block;
    width: 80%;
    margin-left: 75px; 
    margin-bottom: 20px;
    font-size: 16pt;
}
lightning-button{
    padding: 0 100px;
    background-color: #033500;
}
a{
    margin-left: 75px; 
}