:host{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}
header{
    min-height: 72px;
}
main{
    display: grid;
    grid-template-columns: auto 1fr;
}