.navBar a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
img{
    width: 30%;
}
.button{
    padding: 0px;
    font-size: 1rem;
    --sds-c-button-text-color: #000000;
}


