p, h1{
    color: #ffffff;
}
img{
    width: 29%;
    height: 29%;
}
.bottom{
    background-color: #000000;
}
.leftContainer{
    background-color: #1c1c1c;
}
.rightContainer{
    background-color: #010101;
}
.left{
    padding-left: 75px;
}
