footer{
    color: #ffffff;
}
img{
    width: 35%;
    height: 35%;
}
.bottom{
    background-color: #000000;
}
.left-container{
    background-color: #1c1c1c;
}
.right-container{
    background-color: #010101;
}
.txt{
    padding-left: 100px;
}